@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

body
{
    font-family: 'JetBrains Mono', monospace;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar
{
    float: right;
    text-align: center;
    padding-left: 55px;
    background-color: #020202;
    border: solid #ffffff 2px;
    border-radius: 5px;
    opacity: 98%;
}

.navbar ul li
{
    font-family: 'JetBrains Mono', monospace;
    list-style-type: none;
    font-size: 19px;
}

.navbar ul li a
{
    font-family: 'JetBrains Mono', monospace;
    color: #2D3142;
    cursor: pointer;
}

.navbar ul p
{
    font-family: 'JetBrains Mono', monospace;
    color: #303030;
    font-size: 20px;
}

.main
{
    opacity: 98%;
    background-color: #020202;
    margin-right: 300px;
    border: solid #ffffff 2px;
    border-radius: 5px;
    padding-left: 13px;
}

.main h1
{
    font-family: 'JetBrains Mono', monospace;
    color: #303030;
    font-size: 27px;
}

.main p
{
    font-family: 'JetBrains Mono', monospace;
    color: #f1f1f1;
}

footer
{
    float: left;
}

footer a img
{
    width: auto;
    margin-top: 30px;
    height: 30px;
    border: solid #ffffff 2px;
    border-radius: 5px;
    background-color: #ffffff;
}
