@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

body
{
    background-image: url("https://i.pinimg.com/originals/6f/14/cd/6f14cd3c1d93394346b17a363a7b0180.gif");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'JetBrains Mono', monospace;
}

.navbar
{
    opacity: 80%;
    text-align: center;
    background-color: #1A1A1A;
    border: 2px solid wheat;
    border-radius: 9px;
}

.navbar ul li
{
    display: inline-block;
    cursor: pointer;
    font-size: 23px;
}

.navbar ul li a
{
    color: #B6C649;
    text-decoration: underline;     
}

.navbar ul p
{
    color: wheat;
    font-size: 25px;
}

.main
{
    opacity: 90%;
    padding-left: 20px;
    margin-top: 10px;
    background-color: #1A1A1A;
    border: 2px solid wheat;
    border-radius: 9px;
}

.main h1
{
    color: wheat;
    font-size: 30px;
}

.main p
{
    color: wheat;
    font-size: 22px;
}

footer
{
    padding-left: 20px;
    margin-top: 50px;
}

footer p a
{
    color: #B6C649;
    text-decoration: underline;
}

footer a img
{
    background-color: #1A1A1A;
    border-radius: 7px;
    width: auto;
    height: 40px;
}
